In [2]:
import pandas as pd 
import numpy as np
import os 
import sqlite3 as sq
import matplotlib.pyplot as plt

### Series

In [ ]:
data = {
    'Names':["Vinay", "ram", "filp", "Joe", "john"],
    "Email" : ["vinay@gmail.com", "Missing", None, "joe@gmai", "Na"]
    
}

 ### Atributes

In [ ]:
s = pd.Series([1,2,3,4,None], index=['a', 'b', 'c', 'd', 'e'])

In [ ]:

s.name = "FirstSeries"
s.name
s.values  #array([1, 2, 3, 4, 5], dtype=int64)
s.index  #Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
s.dtype  #Datatype

### Operatiins

In [ ]:


s + 5

### Statistical methods

In [ ]:

s.describe()

In [ ]:
s.median(skipna= False)
s.std()
s.var()  #Varience 
s.sum()
s.prod()
s.count() #return the no of non-null values
s.min()
s.max()
s.quantile(1)  #provides the summary of distribution of the data 
s.cumsum() # cumulative sum
s.cumprod() #cummulative prod
s.cummax(axis=0) # cummulative max
s.mean(skipna=True)

### Data manipulation methods

In [ ]:
# apply
#     use lambda functions 

data = {
    'Names':["Vinay", "ram", "filp", "Joe", "john"],
    "Email" : ["vinay@gmail.com", "Missing", None, "joe@gmai", "Na"],
    "salary" : [1000, 2000, 13000, 1203, 23932]
}

df = pd.DataFrame(data)

def mul(x):
    return x**2

def clasify(x):
    if x < 1300:
        return "LOW"
    else:
        return "High"

df["sal_sta"] = df['salary'].apply(clasify)
df

In [ ]:
# map()
# useCase:  Maps values of the Series using input correspondence (dict, Series, or function). Useful for replacing or transforming values
# Series.map(arg, na_action=None)
#     arg: Function, dictionary, or Series

#     Function: A function applied to each element of the Series.
#     Dictionary: A dictionary that maps each value to a new value.
#     Series: A Series that maps each value to a new value.

# na_action = ignores the null values


# 1 Map with a function 
def double(x):
    return 0 if x == 1  else x **2

s.map(double)


# 2 Map with a dict

s.map({1.0:"a", 2.0:2.000})

In [ ]:
 

# Sample data
data = pd.Series(['M', 'F', 'F', 'M', 'M',])

# Dictionary for mapping
gender_mapping = {'M': 'Male', 'F': 'Female'}

# Applying the dictionary to the Series
standardized_data = data.map(gender_mapping)

print(standardized_data)

In [ ]:
# replace method
# .replace(to_replace, vlaue)

s = pd.Series(['A', 'B', 'A', 'C'])
replaced = s.replace({'A': 1, 'B': 2}) 
replaced
replaced = s.replace('B', None)
replaced

In [ ]:
s.sort_values()

In [ ]:
s = pd.Series([34, 43, 99, 34, 43,99,99,99,99])
s.rank(ascending=False)

### Handleling missing data

In [ ]:
s = pd.Series([1,2,3,None, 4, None, 5])
s.isnull()
s.notnull()
s.dropna(axis=0, how="any") #returns a new series
s.fillna(method="pad", inplace=True)
#   method = "bfill", "ffill",

### String manipulation

In [ ]:

s = pd.Series(['apple', 'banana', 'cherry'])
lengths = s.str.len()
print(lengths)

In [ ]:
 
s = pd.Series(['apple', 'banana', 'cherry'])
contains_a = s.str.contains('a')
print(contains_a)

In [ ]:
 
s = pd.Series(['apple', 'banana', 'cherry'])
replaced_s = s.str.replace('a', 'A')
print(replaced_s)

In [ ]:

s = pd.Series(['apple', 'banana', 'cherry'])
starts_with_a = s.str.startswith('a')
print(starts_with_a)

### Indexing method

In [ ]:
s.loc[0]
s.iloc[0]
s.at[0]   #only use full for selection a single row
s.iat[0]
s.sample(n=2)  #picls a random sample

s.sample(3)

# Loading csv files
#### filepath_or_buffer: Specifies the file path or object containing the CSV data.
#### sep: Specifies the delimiter to use for separating columns.

#### header: Specifies which row to use as column names. Can be an integer (0-indexed), list of integers indicating row numbers to use as headers, or None if no header is present.

#### names: Specifies column names to use if the file does not contain a header row.

#### index_col: Specifies which column to use as the row labels of the DataFrame.

#### usecols: Specifies which columns to read from the file.

#### dtype: Specifies data types for columns or columns.

#### parse_dates: Specifies columns to parse as dates.

#### na_values: Specifies additional strings to recognize as NaN.

#### skiprows: Specifies the number of rows to skip from the beginning of the file.

#### skipfooter: Specifies the number of lines at the end of the file to skip.

#### chunksize: Specifies the number of rows to read at a time and return as an iterator.

#### encoding: Specifies the encoding to use for the file.

In [ ]:
schema_df = pd.read_csv("DataSets/survey_results_schema.csv")

In [ ]:
df = pd.read_csv("DataSets/survey_results_public.csv")

In [ ]:
int_columns = df.select_dtypes(include="int")  #only selects the columns which are int  
int_columns

In [ ]:
movies_df = pd.read_csv("DataSets/random_movies.csv")
movies_df.set_index("Title", inplace=True)
movies_df.to_csv("DataSets\mod_movies.csv", index=False, sep="-")
temp = pd.read_csv("DataSets\mod_movies.csv", sep="-")

In [ ]:
# select column names

df = pd.read_csv("DataSets/random_movies.csv", header=1)  #sets the first row as  columns names
df

In [ ]:
# pass set the column names while loadinf the data
df = pd.read_csv("DataSets/random_movies.csv", names=["m", "n", "mm"])  
df

In [ ]:
df = pd.read_csv("DataSets/random_movies.csv", index_col=4)   #sets the fourth column as a index  
df

In [ ]:
df = pd.read_csv("DataSets/random_movies.csv", dtype="str")  
type(df.loc[0][0])

In [ ]:
df["Rating"] = df.Rating.astype(float)
df.Rating.dtype
df.Year.dtype
df.dtypes

In [ ]:
df = pd.read_csv("DataSets/random_movies.csv", skipfooter=10, engine="python")  
df

In [ ]:
df = pd.read_csv("DataSets/textcsv.csv", index_col="Name")  
df.loc["vinay"]

# Loading excell files

# Data Cleaning

In [ ]:
db = sq.connect("example.db")
cursor = db.cursor()
df = pd.read_csv("DataSets/BTC-USD.csv")
df.to_sql(name="BITCOIN", con=db, index=False, if_exists="replace")

In [ ]:
query = "select * from BITCOIN"
cursor.execute

In [ ]:
# df["YearsCode"].fillna(0)
# df.replace("Less than 1 year", 0, inplace=True)
# df.replace("More than 50 years", 51, inplace=True)
# df["YearsCode"] = df.YearsCode.astype(float)
# df.YearsCode.mean().round() 
# df.YearsCode.count() # Counts the non none vlaue in the YearsCode column
# df.count()  #Gives each column with No None values 
# (f"Median : {df.YearsCode.median():10}")  # Median :       11.0
# df.YearsCode.mode()


# fill missing values with mean

temp = df.YearsCode
temp.replace(["Less than 1 year"], 0)
temp.replace(["More than 50 years", 51])
mean_f = temp.mean()
df.YearsCode.fillna(mean_f, inplace=True)
df.YearsCode.isnull().sum()    #checks how many null vlaues are there in colum ans also valid for df
df.YearsCode.mean()
df.YearsCode.mode()
df.YearsCode.median()

#### Checking for the duplicates

In [ ]:
df.drop_duplicates()

# Gropby

In [ ]:
df = pd.read_csv("DataSets/student_performance_data.csv")
gp = df.groupby("Gender")

In [ ]:
gp.get_group("Male")

In [ ]:
gp.get_group("Female")

In [ ]:
female = gp.get_group("Female")
female.describe()
female.Age.plot()

# General display settings

In [7]:
pd.get_option("display.max_rows")   # gives the default or current value 
pd.set_option("display.max_columns", 10)  #we can set a value
pd.reset_option("display.max_rows")      #resetting

60

In [ ]:
pd.get_optinns

AttributeError: module 'pandas' has no attribute 'styles'